/*GENERAL*/
.debug{
    min-height: 80px;
    background-color: rgba(47, 240, 134, 0.404);
    border: 1px solid black;
}

.ct-container{
    width: 70%;
    margin: 0 auto;
    max-width: 1200px;
}

.ct-jumbotron{
    background-color: #1ABC9C;
    height:500px ;
    color: white;
}

.star-space{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer1, .spacer2{
    display: inline-block;
    width: 12%;
    margin: 8px;
    max-width: 130px;
}

.spacer1{
    border: 1px solid white;
}

.spacer2{
    border: 1px solid black;
    width: 40%;
}


/*HEADER*/

header{
    background-color: #2C3E50;
    height: 80px;
    color: white;
}

header nav{
    background-color: #2C3E50 !important;
}

.navbar{
    --bs-navbar-color:white;
    --bs-navbar-active-color:white;
    --bs-navbar-brand-hover-color:white;
    --bs-navbar-toggler-border-color:white;
}

/*JUMBOTRON*/

.ct-jumbotron .container .row:first-of-type div {
   width: 28%;
   min-width: 200px;
}



/*MAIN*/

main .portfolio{
    color: #333333;
}

.portfolio .container .row .col-md-6 img{
    width: 100%;
    height: 92%;
    border-radius: 10px;
}

.portfolio .container .row .col-md-6 div{
    position: relative;
}

.portfolio .container .row .col-md-6 div div{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #1abc9c81;
    border-radius: 10px;
    display: none;
}

.portfolio .container .row .col-md-6 div div .fa-solid{
    font-size: 50px;
    color: white;
}

.portfolio .container .row .col-md-6 div:hover div{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .about{
    background-color: #1ABC9C;
    color: white;
}

main .about .btn{
    width: auto;
    margin-top: 20px;
    color: white;
    border: 1px solid white;
}

main .about .btn:hover{
    background-color: rgba(255, 255, 255, 0.219);
}

.ct-form input, .ct-form textarea{
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
}
  
.ct-form input::placeholder, 
.ct-form textarea::placeholder{
    color: black;
}
  
.ct-form .btn{
    background: #1ABC9C;
    border: none;
}
  
.ct-form input:focus,
.ct-form textarea:focus{
    box-shadow: 0 1px 0 0 rgba(13,110,253,.25);
}
  

/*footer*/

.footer-top{
    background-color: #3A546D;
    color: white;
}

.footer-bottom{
    background-color: #2C3E50;
    color: white;
}

.footer-top .container .row .col-md-4:last-child a{
    text-decoration: none;
    color: #1ABC9C;
    font-size: 17px;
}

.footer-top .container .row .fa-brands{
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 100%;
    margin: 0 5px;
}